<h1>Welcome</h1>
<hr>
<div class="media">
    <div class="lead well">
        <img class="mr-3" src="https://via.placeholder.com/64X64" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="media-heading">Media heading</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            <div>
                <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
            </div>
        </div>
    </div>
</div><br>
<hr>
<div class="media">
    <div class="lead well">
        <img class="mr-3" src="https://via.placeholder.com/64X64" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="media-heading">Media heading</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            <div>
                <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
            </div>
        </div>
    </div>
</div><br>
<hr>
<div class="media">
    <div class="lead well">
        <img class="mr-3" src="https://via.placeholder.com/64X64" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="media-heading">Media heading</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            <div>
                <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
            </div>
        </div>
    </div>
</div>

