<br>
<div class="container">

    <hr>
    <div class="media">
        <div class="lead well">
            <img class="mr-3" src="https://via.placeholder.com/64X64" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>
    </div>
    <hr>


    <div class="row">
        <div class="col-sm-4"><div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-answer-modal">Submit new answer yabbbabababbaba</button>
            </div>
        </div>

        <%= render 'home/new_answer_form' %>
        <div class="col-sm-8">
            
            
            <br>
            <div class="media">
                <div class="lead well">
                    <img class="mr-3" src="https://via.placeholder.com/64X64" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Media heading</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
            <hr>
            
        </div>

    </div>



</div>