<nav class="navbar navbar-dark bg-dark">
  <a id="brand-light" class="navbar-brand">Galaxy Questions</a>
  <form class="form-inline">
        <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
      Ask a Question
    </button>
  </form>
</nav>